
<h2>今後の予定作業</h2>

<div class="row row-cols-1 mb-3">

  <% if @tasks.empty? %>
    <div class="col">
      <div class="alert alert-info" role="alert">
        栽培スケジュールは未登録です。
      </div>
    </div>
  <% end %>

  <% @tasks&.each do |task| %>

    <div class="col" >
    <div class="card mb-3">
      <h5 class="card-header"><%= "#{l task.date, format: :long}" %></h5>
      <div class="card-body">
        <%= link_to schedule_path(task.schedule.id, task_id: task.id), class: "text-dark text-decoration-none" do %>
        <h5 class="card-title"><%= "#{task.schedule.variety.name}(#{task.schedule.name}): #{task.name}" %><%= "(#{task.plan_memo})" if task.plan_memo? %></h5>
        <% end %>
      </div>
    </div>
    </div>

  <% end %>
</div>
