@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

// Devise用
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.card-link {
  transition:background-color 0.3s;
}
 
.card-link:hover {
  background-color:#cce9ff;
}

.logo {
  margin-right: 10px;
  color: #4F7302;
}
