@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "select2/dist/css/select2.min.css";

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 2;
}

// Devise用
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.field_with_errors {
  display: contents;
  input, textarea {
    @extend .is-invalid;
  }
}

.card-link {
  transition:background-color 0.3s;
}
 
.card-link:hover {
  background-color:#cce9ff;
}

.logo {
  margin-right: 10px;
  color: #4F7302;
}

.time_select_bootstrap {
  display: inline-block;
  width: auto;
}

.form-check-label {
  margin-top: 0.25em;
}

.footer {
  font-size: 14px;
  line-height: 2;
}