<div class="container">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Garden Scheduler</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link">ホーム</a></li>
    <li class="nav-item"><a href="/schedules/new" class="nav-link">スケジュール登録</a></li>
    <% if user_signed_in? %>
      <li class="nav-item"><a href="/users/edit" class="nav-link">アカウント設定</a></li>
    <% end %>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: "delete", class: 'nav-link' %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: 'nav-link' %>
      <% end %>
    </li>
    <li><a href='https://bootcamp.fjord.jp/products/13043' class="nav-link">pp</a></li>
    </ul>
</header>
</div>
