<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <i class="fas fa-seedling fa-2x logo"></i> 
    <span class="fs-2 logo">Garden Scheduler</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/schedules/new" class="nav-link">スケジュール作成</a></li>

    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          アカウント
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a href="/users/edit", class="dropdown-item">設定</a></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: "delete", class: "dropdown-item" %></li>
        </ul>
      </li>
    <% else %>
      <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: 'nav-link' %></li>
    <% end %>

  </ul>
</header>
